:root {
    --theme-color : #47c1c0;
    --theme-color2 : #00f6a7;
    --inactive-color : rgb(197, 197, 197);
    --dot-size : 18px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.text-theme {
    background: linear-gradient(45deg, var(--theme-color2), var(--theme-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.frame {
    border: 15px solid var(--theme-color);
    width: 100%;
    display: flex;
}
.menu-box {
    width: 100%;
    text-align: center;
    padding: 10vh;
}
.title {
    font-size: 80px;
    font-weight: bold;
}
.label1 {
    color: white !important;
    font-size: 40px;
    font-weight: bold;
    margin: 20px auto 0px auto;
    padding: 3px;
    width: 200px;
    height:50px;
    border: 2px solid white;
    border-radius: 15px;
    line-height: 40px;
    background-color: rgb(34, 34, 34);
    transition: background-color 0.3s, 
                width 0.3s;
}
.label1:hover {
    cursor: pointer;
    background-color: var(--theme-color);
    color: #202124 !important;
    width: 230px;
}
.label1:active {
    background-color: rgb(0, 163, 73);
}
.label2 {
    font-size: 45px;
    font-weight: bold;
    margin: 15vh auto 0px auto;  
    transition: color 0.5s;
}
.label3 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    margin: 12px 30px 0 0;
    border: 1px solid;
    border-radius: 7px;
    padding: 0 20px;
    width: 200px;
    height: 45px;
    transition: border 0.2s, color 0.2s;
}
.label3:hover {
    border: 1px solid var(--theme-color);
    /* color: rgb(214, 114, 0); */
    cursor: pointer;
}
.level-box {
    display: inline-block;
    margin-left: 30px;
}  

.popup-box {
    z-index: 100;
    width: 300px;
    height: 180px;
    position: fixed;
    transform: translate(-50%);
    left: 50%;
    top: 35%;
    background-color: black;
    border: 6px solid rgb(175, 175, 175);
    border-radius: 15px;
    text-align: center;
    padding: 33px 0 0 55px;
}
.modal-back {
    position: absolute;
    width: 98%;
    height: 98vh;
    background-color: rgba(128, 128, 128, 0.384);
    z-index: 90;
}

.body-frame {
    border: 7px solid rgb(18, 155, 80);
    border-radius: 6px;
    margin: auto;
    filter: blur(0);
    transition: filter 1.5s;
}
.active {}
.non-active {}
.removed {
    /* display: none; */
    /* background-color: black !important;
    border: 0px solid !important; */
}
/* .block-color1 {background-color: #01c0fa; border: 0px solid white;}
.block-color2 {background-color: #4453ff; border: 0px solid white;}
.block-color3 {background-color: #ffa500; border: 0px solid white;}
.block-color4 {background-color: #ff0000; border: 0px solid white;}
.block-color5 {background-color: #27ff00; border: 0px solid white;}
.block-color6 {background-color: #f3ff33; border: 0px solid white;}
.block-color7 {background-color: #d800ff; border: 0px solid white;} */

/* .block-color1 {background-image: radial-gradient( #01c0fa 40%, white);}
.block-color2 {background-image: radial-gradient( #4453ff 40%, white);}
.block-color3 {background-image: radial-gradient( #ffa500 40%, white);}
.block-color4 {background-image: radial-gradient( #ff0000 40%, white);}
.block-color5 {background-image: radial-gradient( #27ff00 40%, white);}
.block-color6 {background-image: radial-gradient( #f3ff33 40%, white);}
.block-color7 {background-image: radial-gradient( #d800ff 40%, white);} */

.block-color1 {
    background-color: #01c0fa95;
    background-image:
    linear-gradient(-45deg, #01c0fa80 50%, transparent 50%),
    linear-gradient(45deg, #01c0fa80 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color2 {
    background-color: #4453ff95;
    background-image:
    linear-gradient(-45deg, #4453ff80 50%, transparent 50%),
    linear-gradient(45deg, #4453ff80 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color3 {
    background-color: #ffa50095;
    background-image:
    linear-gradient(-45deg,  #ffa50080 50%, transparent 50%),
    linear-gradient(45deg, #ffa50080 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color4 {
    background-color: #ff000095;
    background-image:
    linear-gradient(-45deg, #ff000080 50%, transparent 50%),
    linear-gradient(45deg, #ff000080 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color5 {
    background-color: #27ff0095;
    background-image:
    linear-gradient(-45deg, #27ff0080 50%, transparent 50%),
    linear-gradient(45deg, #27ff0080 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color6 {
    background-color: #f3ff3395;
    background-image:
    linear-gradient(-45deg, #f3ff3380 50%, transparent 50%),
    linear-gradient(45deg, #f3ff3380 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color7 {
    background-color: #d8bbdd95;
    background-image:
    linear-gradient(-45deg, #d900ff80 50%, transparent 50%),
    linear-gradient(45deg, #d800ff80 50%, transparent 50%);
    background-size: 100% 100%;
}


.score {
    font-weight: bold;
    font-size: 25px;
    color: white;
    height: 50px;
}
.combo {
    position: relative;
    left: 27%;
    top: 4px;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 5px 4px 3px #616161;
    /* color: yellow; */
    opacity: .9;
    /* transform: rotate(15deg); */
    transition: opacity 0.5s;
    display: flex;
    z-index: 100;
}
.combo-number {
    font-size: 50px;
    color: var(--theme-color);
    margin-right: 10px;
    line-height: 35px;
}
.game-over {
    font-weight: bold;
    font-size: 62px;
    text-align: center;
    text-shadow: 4px 6px 3px #292929;
    position: absolute;
    top: 25%;
    z-index: 20;
    opacity: 0;
    transition: opacity 2s;
}

.rank-wrapper {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    transition: transform .3s, left .3s;
}
.rank-box {
    height: 50vh;
    width: 700px;
    overflow-y: auto;
    border-bottom: 5px solid #5e5e5e;
    border-radius: 6px;
}
.rank-row {
    border: 1px solid var(--theme-color);
    border-radius: 7px;
    padding: 10px;
    width: 630px;
    margin: 10px auto 0px auto;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    font-size: 15px;
    transition: border .9s, 
                background-color .9s;
}
.rank-row:hover {cursor: pointer;}
.rank-rank {
    width: 50px;
}
.rank-name {
    width: 180px;
}
.rank-score {
    width: 120px;
}
.rank-date {
    width: 240px;
}
.rank-header {
    margin-top: 30px;
    /* margin: 30px 0 0 50px; */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    position: relative;
    left: 50%;
    width: 640px;
    color: rgb(104, 250, 255);
    /* border: 1px solid; */
    transform: translateX(-50%);
    text-align: center;
}
.rank-top {
    border: 1px solid #ffd900 !important;
    background-color: rgb(0, 201, 151);
}

.rank-his-box {
    height: 49vh;
    width: 370px;
    overflow-y: auto;
    border-bottom: 5px solid #5e5e5e;
    border-radius: 6px;
}
.rank-his-header {
    margin-top: 30px;
    font-size: 20px;
    width: 330px;
    /* font-weight: bold; */
    display: flex;
    color: rgb(104, 250, 255);
}
.rank-his-row {
    border: 1px solid var(--theme-color);
    border-radius: 7px;
    padding: 10px;
    width: 300px;
    margin: 10px auto 0px auto;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    font-size: 15px;
}
.btn-x {
    font-size: 23px;
    color: #cdcdcd;
    /* font-weight: bold; */
}
.btn-x:hover {cursor: pointer;}

.input-box {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
    width: 350px;
    height: 250px;
    position: fixed;
    left: 50%;
    top: 35.5%;
    transform: translateX(-50%);
    background-color: black;
    border: 6px solid rgb(175, 175, 175);
    border-radius: 15px;
    text-align: center;
}
.input-box > .input-row {
    display: flex;
    margin-top: 10px;
}
.input-row > .input-text {
    width : 130px;
    text-align: right;
    margin-right: 15px;
} 
.input-box > .label3 {
    width: 100px;
    height: 38px;
    margin: 18px auto 0 auto;
    font-size: 25px;
}

.toast {
    z-index: 999;
    position: absolute;
    left: 17%;
    top: 233px;
    height: 23px;
    width: 230px;
    border-radius: 4px;
    color: rgb(255, 97, 97);
    /* background-color: rgb(105, 105, 105); */
    font-weight: bold;
    font-size: 14px;
    visibility: hidden;
}
.label-disabled {
    color: #757575;
}
.label-disabled:hover {cursor: none}

.mask-back{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.315);
}
.mask {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    /* border: 1px solid; */
}
.mask > div {
    z-index: 101;
    position: fixed;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50px;
    /* box-shadow: 3px 1px 0px rgb(203 203 203); */
}

.dotcol-1 {background-color: rgb(0, 255, 145) !important;}
.dotcol-2 {background-color: rgba(0, 255, 145, 0.699) !important;}
.dotcol-3 {background-color: rgba(0, 255, 145, 0.575) !important;}
.dotcol-4 {background-color: rgba(0, 255, 145, 0.39) !important;}
.dotcol-5 {background-color: rgba(0, 255, 145, 0.26) !important;}
.dotcol-6 {background-color: rgba(0, 255, 145, 0.137) !important;}
.dotcol-7 {background-color: rgba(0, 255, 145, 0) !important;}
.dotcol-8 {background-color: rgba(0, 255, 145, 0) !important;}

.dot1 {left: 50%; transform: translate(calc(-50% + var(--dot-size) + 10px), calc(var(--dot-size) + 50px));}
.dot2 {left: 50%; transform: translate(calc(-50% + var(--dot-size) + 20px), calc(var(--dot-size) + 25px));}
.dot3 {left: 50%; transform: translate(calc(-50% + var(--dot-size) + 10px), calc(var(--dot-size) + 0px));}
.dot4 {left: 50%; transform: translate(-50%, 5px);}
.dot5 {left: 50%; transform: translate(calc(-50% - var(--dot-size) - 10px), calc(var(--dot-size) + 0px));}
.dot6 {left: 50%; transform: translate(calc(-50% - var(--dot-size) - 20px), calc(var(--dot-size) + 25px));}
.dot7 {left: 50%; transform: translate(calc(-50% - var(--dot-size) - 10px), calc(var(--dot-size) + 50px));}
.dot8 {left: 50%; transform: translate(calc(-50%), calc(var(--dot-size) + 63px));}